/*----------------------------------------------
|   Clocker 
------------------------------------------------*/
.clocker-container {
    text-align:center;
}
.clock-wrapper {
    display: inline-block;
    margin-top: 10px;
}
.clocker  {
    text-align: center;
    transition: 0.3s all;
    position: relative;
    text-shadow: none;
    margin: 0;
}
.clocker .showClock {
    transition: 0.3s all;
}

.flip-clock-wrapper ul li a div div.inn {
    color: #F7F7F7;
    text-shadow: 0 1px 2px #202D3A;
    background-color: #1F1F1F;
}
.flip-clock-divider .flip-clock-label {
    color: #6F6F6F;
    font-weight: bold;
}
.flip-clock-wrapper .flip {
    box-shadow: none;
}
.flip-clock-dot {
    background-color: #1F1F1F;
    box-shadow: none;
}

 .clock-control {
    height: 43px;
    color: #EFF0F2;
    padding: 10px;
    overflow: hidden;
    font-size: 14px;
    transition: .3s all;
}
.clock-control a {
    color: #828282;
        padding:0 10px;
}
/* scrool */
.overscroll  {
    position: fixed;
    top: 0;
    z-index: 200;
    margin: 0;
    height: 90px;
    left: 50%;
    margin-left: -200px;
    background: #000;
}

.overscroll .clocker-container {
    background: rgba(43, 43, 43, 0.95);
    display:inline-block;
}
.overscroll .clock-wrapper {
    padding: 0;

    margin: 0;
}
.overscroll .flip-clock-dot.top {
    top: 15px;
}
.overscroll .flip-clock-dot.bottom {
    top: auto;
    bottom: 15px;
}
.overscroll .flip-clock-wrapper ul {
    width: 40px;
    height: 50px;
    line-height: 50px;
}
.overscroll .flip-clock-wrapper ul li {
    line-height: 50px;
}
.overscroll .flip-clock-divider .flip-clock-label {
    color: #FFF;
    left: 0 !important;
    right: auto !important;
    text-align: center;
    width: 142px;
}
.overscroll .flip-clock-dot {
    width: 5px;
    height: 5px;
    left: 8px;
}
.overscroll .flip-clock-divider {
    width: 20px;
    height: 60px;
}
.overscroll .flip-clock-wrapper ul li a div {
    font-size: 32px !important;
}

.overscroll .clock-control {
        height: 43px;
        background: #232323;
        color: #EFF0F2;
        padding: 10px;
        overflow: hidden;
        font-size: 14px;
        transition: .3s all;
}
.overscroll .clock-control a {
        color: #828282;
        padding:0 10px;
}
.overscroll .flip-clock-divider {
    display: none;
}
/*----------------------------------------------
|   BOX GENERAL
------------------------------------------------*/
.box-container {
    margin-bottom: 10px;
}
.rt-box {
    font-size: 1 em;

}
.rt-box .box-wrapper {
    position: relative;
    min-height: 120px;
    padding-bottom: 35px;
}
.rt-box .box-wrapper .box-inner {
    position: relative;
    width: 100%;
    display: inline-block;
}
.rt-box .box-wrapper .share-counter {
    height: 25px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 15px;
}
/*----------------------------------------------
|   BOX RECTANGLE
------------------------------------------------*/
.rt-rectangle {
    text-shadow: none;
    border-radius: 0;
    position: relative;
}
.rt-rectangle .box-wrapper {
  
}
.rt-rectangle .box-wrapper div.box {
    float: left;
    padding: 14px;
}
.rt-rectangle .box-wrapper .box-icon{
    width: 40%;
}
.rt-rectangle .box-wrapper .box-data{
    width: 60%;
}




/*----------------------------------------------
|   BOX SQUARE
------------------------------------------------*/
.rt-square {
    text-shadow: none;
    border-radius: 0;
    position: relative;
    text-align: center;
}
.rt-square .box-wrapper {
   
}
.rt-square .box-wrapper div.box {
    
}
.rt-square .box-wrapper .box-icon{
    padding: 14px 14px 0;
  
}
.rt-square .box-wrapper .box-data{
    padding: 4px 14px 0;
}



/*----------------------------------------------
|   BOX LIST
------------------------------------------------*/
.rt-textlist {
    font-size: 16px;
    clear: both;
}
.rt-textlist  .counter {
    font-size: 1.5em;
    color: #fbb03b;
    display: inline-block;
    vertical-align: middle;
}
.rt-textlist  .icon,
.rt-textlist  [class^="flaticon-"]
{
    font-size: 4em;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px 0 0;
    color: #fbb03b;
} 
.rt-textlist  span {
    padding-right: 5px;
}
.rt-textlist .rt-counter span.text {
    font-weight: bold;
}
/*----------------------------------------------
|   EMBED
------------------------------------------------*/
.embedme-container {}
.embedme-container h3{}
.embedcode{
    padding: 5px 20px;
    border: 0;
    background-color: #171717;
    font-family: monospace;
    color: #FFF;
    height: auto;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.5;
    width: 100%;
    min-height: 70px;
    font-size: 11px;
}
