/* = Refference
-------------------------------------------------------------- */
.reference-container {}
.reference {}
.reference .box-header {
	font-size: 1.3em;
	margin-bottom: 10px;
	cursor: pointer
}
.reference ul {
	margin: 0;
	padding: 0;

}
.reference li {
	list-style: none;
	line-height: 1;
	margin:0;
}
.reference li a {
	line-height: 1.2;
	font-size: 1em;
}
