/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/03/2016 05:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-business:before { content: "\f100"; }
.flaticon-cheese:before { content: "\f101"; }
.flaticon-food:before { content: "\f102"; }
.flaticon-gasoline:before { content: "\f103"; }
.flaticon-medical:before { content: "\f104"; }
.flaticon-money:before { content: "\f105"; }
.flaticon-money-1:before { content: "\f106"; }
.flaticon-people:before { content: "\f107"; }
.flaticon-people-1:before { content: "\f108"; }
.flaticon-people-2:before { content: "\f109"; }
.flaticon-tag:before { content: "\f10a"; }
.flaticon-technology:before { content: "\f10b"; }
.flaticon-transport:before { content: "\f10c"; }
.flaticon-travel:before { content: "\f10d"; }