

/* = Sidebar Navigation : ScroolSpy
-------------------------------------------------------------- */
nav.side {
    position: fixed;
    color: #fff;
    right: 0;
    top: 150px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, .901961) 0 0 5px 0;
    background: #222;
    width: 60px;
    padding: 10px
}

nav.side ul {
    margin: 0;
    padding: 0;
}
nav.side ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    position:relative;
}

nav.side a {
    z-index: 1;
    font-size: 13px;
    font-weight:bold;
    line-height: 30px;
    outline: 0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #fff;
    display: block;
    margin: 4px;
    color: #000!important;
    text-decoration: none;
    text-align:center;

}
nav.side ul li.active a{
    background: red;
}

nav.side .tickbox, nav.side .tickbox:after {
  background: black;
  border: 2px solid white;
}
nav.side .tickbox {
    right: 60px;
    opacity: 0;
    position: absolute;
    z-index: 999;
    color: #fff;
    top: 0;
    background: #000;
    text-align: center;
    font-stretch: condensed;
    font-size: 13px;
    padding: 5px 15px;
    border: 1px solid #fff;
    min-width: 170px;
    border-radius: 8px;
    margin: 0;
    min-height: 40px;
}
}
nav.side .tickbox span {
    line-height: 1.1;
    display:block;
    width: 100%;
}
nav.side .tickbox .arrow {
    width: 16px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: -15px;
    top: 20%;
}
nav.side .tickbox .arrow:after {
    content: "";
    left: -10px;
    top: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    background: #000;
    -webkit-box-shadow: 6px 5px 9px -9px #fff,5px 6px 9px -9px #fff;
    -moz-box-shadow: 6px 5px 9px -9px #000,5px 6px 9px -9px #000;
    box-shadow: 6px 5px 9px -9px #fff,5px 6px 9px -9px #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: 9999999999;
}
nav.side ul li.active .tickbox {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
nav.side .tickbox.out {
  opacity: 0;
}