
/* = plugins : shareable
-------------------------------------------------------------- */
.shareable a.soslink {
    height: 30px;
    line-height: 30px;
    color: #FFF;
    color: rgba(255, 255, 255, .8);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 0px;
    padding: 0 7px;
    text-decoration: none;
    text-align: center;
    display:inline-block;
}

.shareable a.soslink i {
    margin-right: 4px;
}
.shareable a.soslink span.name {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
}


.shareable .adn {
    background-color: #504e54
}

.shareable .apple {
    background-color: #aeb5c5
}

.shareable .android {
    background-color: #A5C63B
}

.shareable .bitbucket,
.shareable .bitbucket-square {
    background-color: #036
}

.shareable .bitcoin,
.shareable .btc {
    background-color: #F7931A
}

.shareable .css3 {
    background-color: #1572B7
}

.shareable .dribbble {
    background-color: #F46899
}

.shareable .dropbox {
    background-color: #018BD3
}

.shareable .facebook,
.shareable .facebook-square {
    background-color: #3C599F
}

.shareable .flickr {
    background-color: #FF0084
}

.shareable .foursquare {
    background-color: #0086BE
}

.shareable .github,
.shareable .github-alt,
.shareable .github-square {
    background-color: #070709
}

.shareable .google-plus,.shareable .googleplus,
.shareable .google-plus-square {
    background-color: #CF3D2E
}

.shareable .html5 {
    background-color: #E54D26
}

.shareable .instagram {
    background-color: #A1755C
}

.shareable .linkedin,
.shareable .linkedin-square {
    background-color: #0085AE
}

.shareable .linux {
    background-color: #FBC002;
    color: #333
}

.shareable .maxcdn {
    background-color: #F6AE1C
}

.shareable .pagelines {
    background-color: #241E20;
    color: #3984EA
}

.shareable .pinterest,
.shareable .pinterest-square {
    background-color: #CC2127
}

.shareable .renren {
    background-color: #025DAC
}

.shareable .skype {
    background-color: #01AEF2
}

.shareable .stack-exchange {
    background-color: #245590
}

.shareable .stack-overflow {
    background-color: #FF7300
}

.shareable .trello {
    background-color: #265A7F
}

.shareable .tumblr,
.shareable .tumblr-square {
    background-color: #314E6C
}

.shareable .twitter,
.shareable .twitter-square {
    background-color: #32CCFE
}

.shareable .vimeo-square {
    background-color: #229ACC
}

.shareable .vk {
    background-color: #375474
}

.shareable .weibo {
    background-color: #D72B2B
}

.shareable .windows {
    background-color: #12B6F3
}

.shareable .xing,
.shareable .xing-square {
    background-color: #00555C
}

.shareable .youtube,
.shareable .youtube-play,
.shareable .youtube-square {
    background-color: #C52F30
}

.shareable .reddit {
    color: #000;
    background-color: #eff7ff
}

.shareable .email {
    color: #fff;
    background-color: #0a88ff
}

/* popup */
.shareable{
    position: relative;
}
.shareable a.sharenow {
    font-size: 11px;
    color: #333;
    background: #1b926c;
    padding: 4px 10px;
    border-radius: 5px;
    font-family: Lato,sans-serif;
    font-weight: 800;
    white-space: nowrap;
    transition: all .3s ease;
    text-transform: uppercase;
    text-decoration: none;

}
.shareable a.sharenow i {
    margin-right: 5px;
}
.shareable a.sharenow:hover {
    color: #fff;
}
.share-popup-block {
    background: #FFF;
    padding: 20px;
    text-align: left;
    max-width: 350px;
    min-height: 350px;
    margin: 40px auto;
    position: relative;
    color: #000;
}

/* = plugins: Tweetable
-------------------------------------------------------------- */
a.tweetable-link {
    position: relative;
    padding-left: 34px;
    display: block;
    text-decoration: none
}
a.tweetable-link .fa {
    color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    position: absolute;
    left: 0
}
a.tweetable-link  .tweet_text {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 0.7em;
    color: #32CCFE;
    display: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}
a.tweetable-link:hover .fa {
    font-weight: 700
}

a.tweetable-link:hover .fa {
    font-size: 2em;
    color: #32CCFE;
}

a.tweetable-link:hover .tweet_text {
    display:block;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
